* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: url('../proyecto_web/img/backgrounnnd.jpg');}
a {
    text-decoration: none;
    color: aqua;
}

ul {
    list-style-type: none;
    
}

.conteiner {
    width: 100%;
    margin: auto;
}


.logo-menu {
    width: 60px;
}

.banner {
    position: relative;
    width: 100%;
    height: 65vh;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    background-image: url('../proyecto_web/img/banner.jpeg');
    animation: banner 20s infinite linear;
}

.banner-contenido {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-contenido h1 {
    margin-bottom: 0px;
    margin-left: 20px; 
    padding: 0;
    font-size: 50px;

}

.banner-contenido h1 {
    margin-left: 20px; 
    padding: 0;
    font-size: 20px;

}
@keyframes banner {
    0% {
        background-image: url('../proyecto_web/img/banner.jpeg');
    }
    25% {
        background-image: url('../proyecto_web/img/banner.jpeg');
    }
    26% {
        background-image: url('../proyecto_web/img/banner2.jpeg');
    }
    50% {
        background-image: url('../proyecto_web/img/banner2.jpeg');
    }
    51% {
        background-image: url('../proyecto_web/img/banner3.jpeg');
    }
    75% {
        background-image: url('../proyecto_web/img/banner3.jpeg');
    }
    76% {
        background-image: url('../proyecto_web/img/banner.jpeg');
    }
    100% {
        background-image: url('../proyecto_web/img/banner.jpeg');
    }
}
.NavBarP,
.NavBarP-Logo,
.NavBarP-Nav,
.NavBarP-Nav > ul,
.NavBarP-Nav > ul > li,
.NavBarP-Nav > ul > li > a{
	height: 50px;
	line-height: 50px;
}
.NavBarP{
	background-color: #673DE6;
	color: #fff;
	position: relative;
	font-family: 'RobotoCondensedLight';
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.NavBarP-Logo,
.NavBarP-Nav{
	position: absolute;
	top: 0;
	background-color: #673DE6;
}
.NavBarP-Logo{
	left: 0;
	width: 30%;
	font-family: 'OswaldRegular';
}
.NavBarP-Nav{
	right: 0;
	width: 70%;
}
.NavBarP-Nav > ul{
	text-align: right;
	padding-right: 10px;
}
.NavBarP-Nav > ul > li{
	display: inline-block;
	position: relative;
}
.NavBarP-Nav > ul > li > a{
	color: #fff;
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 0 7px;
	transition: all .3s ease-in-out;
}
.NavBarP-Nav > ul > li > a:hover{
	color:  rgb(251, 81, 132);
}
.divPeliculas
{
    position: relative;
    width: 45%;
    height: 310px;  
    margin-left:500px;
    margin-top: 100px;
    margin-bottom: 60px;
    border-radius: 4%;
    box-shadow: -1px -1px 8px 6px rgba(177, 177, 177, 0.75);
    border-color: #b8b8b8;
    border-width: 3px;
    border-style: solid;
    transition: 0.6s;
}

.imagenPelicula{
    position: absolute;
    height: 100%;
    width: 30%;
    top: -30px;
    left: -40px;
    border-radius: 10%;
    background-image: url('../proyecto_web/img/justiceleague.jpg');
    /* background-repeat: no-repeat; */

}
.imagenPelicula2{
    position: absolute;
    height: 100%;
    width: 30%;
    top: -30px;
    left: -40px;
    border-radius: 10%;
    background-image: url('../proyecto_web/img/poster2.jpg');
    /* background-repeat: no-repeat; */

}
.imagenPelicula3{
    position: absolute;
    height: 100%;
    width: 30%;
    top: -30px;
    left: -40px;
    border-radius: 10%;
    background-image: url('../proyecto_web/img/poster3.jpg');
    /* background-repeat: no-repeat; */

}
.imagenPelicula4{
    position: absolute;
    height: 100%;
    width: 30%;
    top: -30px;
    left: -40px;
    border-radius: 10%;
    background-image: url('../proyecto_web/img/poster4.jpg');
    /* background-repeat: no-repeat; */

}
.imagenPelicula5{
    position: absolute;
    height: 100%;
    width: 30%;
    top: -30px;
    left: -40px;
    border-radius: 10%;
    background-image: url('../proyecto_web/img/poster5.jpg');
    /* background-repeat: no-repeat; */

}

.textoPelicula{
    width:100%;
    height: 100%;
    border-radius: 4%;
    background-color: rgb(255, 255, 255);
    /* background-image: url('../proyecto_web/img/justiceleague.jpg'); */
}

.tituloPelicula
{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
font-style: normal;
color:rgb(255, 255, 255);
background-color: rgb(251, 81, 132);;
padding-left: 20px;
padding-top: 12px;
width: 95%;
}

.contenidoPelicula
{
    float: right;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 72.5%;
    border-radius: 4%;
}

.descripcionPelicula
{
    width: 100%;
    height: 60%;
    color: black;
    font-size: 20px;
    margin-top: 10px;
}


.botonPelicula
{
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90%;
  height: 15%;
   /* align-items: center; 
   justify-content: center; */
  font-weight: 500;
  font-size: 22px;
  border-radius: 1em;
  color: white;
  background: #673DE6;
  margin-left: 22px}


.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
.iconidmb
{
    background-image:  url('../proyecto_web/img/idmb2.jpeg');
}
.divPeliculas:hover
{
    transform: scale(1.1);
}
.Sugerencia
{
    margin-left:450px;
    margin-top: 85px;

}
.inputUser
{
    width: 70%;
    height: 35px;
    border-radius: 11px;
    box-shadow: -1px -1px 3px 2px rgba(177, 177, 177, 0.75);
    border-color: #b8b8b8;
    border-width: 3px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 22px;

}
.message{
    width: 70%;
    height: 500px;
    border-radius: 11px;
    box-shadow: -1px -1px 3px 2px rgba(177, 177, 177, 0.75);
    border-color: #b8b8b8;
    border-width: 3px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 22px;
}
.labels
{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
font-style: normal;
color: #673DE6;
}
.input
{
    margin-top: 11px;
}
.botonEnviar
{
        /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 70%;
        height: 35px;
         /* align-items: center; 
         justify-content: center; */
        font-weight: 500;
        font-size: 22px;
        border-radius: 1em;
        color: white;
        background: #673DE6;
        margin-left: 0px;

}