* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../proyecto_web/img/backgrounnnd.jpg');
}

.NavBarP{
    height: 50px;
	line-height: 50px;
	background-color: #673DE6;
	color: #fff;
	position: relative;
	font-family: 'RobotoCondensedLight';
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.NavBarP-Logo,
.NavBarP-Nav{
	position: absolute;
	top: 0;
	background-color: #673DE6;
}

header a {
    color: #fff;
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 0 7px;
	transition: all .3s ease-in-out;
    height: 50px;
	line-height: 50px;

    
}
header a:hover{
    color:  rgb(251, 81, 132);
}
.NavBarP-Logo{
	left: 0;
	width: 30%;
	font-family: 'OswaldRegular';
}
.NavBarP-Nav{
	right: 0;
	width: 70%;
}
.NavBarLista{
	text-align: right;
	padding-right: 10px;
}
.NavBarLista > li{
	display: inline-block;
	position: relative;
}
header a{
	color: #fff;
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 0 7px;
	transition: all .3s ease-in-out;
}
header a:hover{
	color:  rgb(251, 81, 132);
}

.Banner {
    width: 100%;
    background-color: #673DE6;
    height: 400px;
    opacity: 0.9;
}
.imagenBanner {
    display: block;
    margin: auto;
    height: 400px;
    width: 100%;
   
}
.divPeliculas
{   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    position: relative;
    width: 600px;
    height: 300px;  
    margin-top: 100px;
    margin-bottom: 60px; 
    border-radius: 4%;
    box-shadow: -1px -1px 8px 6px rgba(177, 177, 177, 0.75);
    border-color: #b8b8b8;
    border-width: 3px;
    border-style: solid;
    transition: 0.6s;
}

.imagenPelicula{
    position: absolute;
    height: 100%;
    width: 30%;
    top: -30px;
    left: -40px;
    border-radius: 10%;
}


.textoPelicula{
    width:100%;
    height: 100%;
    border-radius: 4%;
    background-color: rgb(255, 255, 255);
}

.tituloPelicula
{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
font-style: normal;
color:rgb(255, 255, 255);
background-color: rgb(251, 81, 132);;
padding-left: 20px;
padding-top: 12px;
width: 95%;
}

.contenidoPelicula
{
    float: right;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 72.5%;
    border-radius: 4%;
}

.descripcionPelicula
{
    width: 100%;
    height: 60%;
    color: black;
    font-size: 15px;
    margin-top: 10px;
    padding-right: 20px;
}


.botonPelicula
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 90%;
  height: 15%;
  font-weight: 500;
  font-size: 22px;
  border-radius: 1em;
  color: white;
  background: #673DE6;
  margin-left: 22px;
  cursor: pointer;

}

.botonPelicula:hover {
  border: 2px solid rgb(251, 81, 132);
  
}


.divPeliculas:hover
{
    transform: scale(1.1);
}
/* Formulario */
.titulo{
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #673DE6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-style: normal;
}


form {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
  
  }
.inputs {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
.inputs:focus {
    border: 2px solid rgb(251, 81, 132);
  }

.comentario:focus{
    border: 2px solid rgb(251, 81, 132);
}

.comentario {
    width: 100%;
    height: 100px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
.labels
{
display: block;
margin-bottom: 5px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
font-style: normal;
color: #673DE6;
}

.btnForm {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background-color: #673DE6;
    border: 2px solid #673DE6;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
  }
  

.containerCarrousel {
    margin-top: 35px;
    width: 100%;
    padding-bottom: 80px;
  }
  
 .sliders{
    
      margin: auto;
      display: flex;
      width: 60%;
      height: 40em;
  }
  
   .left{
        margin-right: 30px;
      height: 100%;
      display: flex;
      font-size: 100px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
   .arrow{
    color: rgb(251, 81, 132);
    margin: auto;
  }
  
   .right{
    display: flex;
      height: 100%;
      font-size: 100px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
   .containerPhoto{
    position: relative;
    width: 100%;
    height: 100%;
  }
  
   .containerPhoto img{
    object-fit: cover;
      width: 100%;
      height: 100%;
      
  }
  .acercaDeMi
  {
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: rgb(251, 81, 132);
      font-size: 20px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 30px;
  }



  .footer-wrap{
    position: relative;
    margin-top:120px;
    width:100%;
    padding:40px;
    background: rgb(46, 44, 44);
}

.redes{
    padding-top:25px;
    text-align: center;
}
.redes a{
    text-decoration: none;
    height:26px;
    display: inline-block;
    width:26px;
    padding:5px;
    border-radius:20px;
    margin:5px;
    background: rgb(224, 222, 222);
}
.redes a img{
    width:14px;
    height:14px;
}
.line {
    text-align: center;
    color: #e5e5e5;
    
}

.contenedorMensajeB{
    display: none;
  }

.contenedorMensaje{
    display: block;
    box-sizing: border-box;
    background-color: #673DE6;
    color: rgb(46, 44, 44); 
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
    padding: 3%;
    Font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 16px 8px 16px 8px rgba(0, 0, 0, 0.5);
  }

  .contenedorMensaje .contenedorTexto{
    font: 1em sans-serif;
    margin-top: 25px;
    background-color: rgb(46, 44, 44);
    padding: 2% 5%;
  }

  .mal{
    border-radius: 5px;
    padding: 8px;
    width: 80%;
    margin-bottom: 20PX;
    background-color: rgb(251, 81, 132);
    color:#03102c;
    font-family: sans-serif;
  }
  .contErrores{
    display: none;
  }

  .contenedorMensaje .contenedorTexto{
    font: 1em sans-serif;
    margin-top: 40px;
    background-color: rgb(251, 81, 132);
    padding: 3% 6%;
  }